name: Build

on:
  - push
  - pull_request

jobs:
  tests:
    strategy:
      matrix:
        zig-version: [ 0.15.2 ]

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: ${{ matrix.zig-version }}

    - name: Build
      run: zig build
